body {
  color: #555; }

.secondary-header {
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 20px; }
  .secondary-header h3 {
    margin-bottom: 20px; }

.separator {
  border-top: 1px solid #f2f2f2; }

.select {
  padding: 8px;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  background: #f2f2f2;
  margin-bottom: 20px;
  width: 100%; }

.striped li:nth-child(odd) {
  background: #f2f2f2; }

/*# sourceMappingURL=syzygy.css.map */
