body {
  color: #555; }
  body .carousel-control.right {
    background-image: none;
    width: 0; }
  body .carousel-control.left {
    background-image: none;
    width: 0; }
  body .carousel-control .glyphicon {
    top: 20px;
    margin: 0;
    color: #555;
    font-size: 30px; }

.heading-wrapper {
  background: #cccccc; }

.heading {
  margin: 0; }
  .heading h1 {
    font-size: 30px;
    font-weight: 400;
    margin: 20px 0;
    color: #fff;
    margin: 5% 0; }

select {
  border: none;
  background: #f2f2f2;
  width: 100%;
  padding: 5% 0;
  background: #f2f2f2; }

.select-tabs {
  background: #f2f2f2; }

.striped li:nth-child(odd) {
  background: #f2f2f2; }

.panel {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-clip: padding-box; }

.highlighted {
  background-color: #adCEE8; }

.block {
  float: left;
  width: 33%; }

/*# sourceMappingURL=syzygy_mobile.css.map */
